@page
@model HouHavn.Web.Pages.Boats.DeleteModel

@{
    ViewData["Title"] = "Slet båd";
}

<h2>Slet båd</h2>

<h3>Er du sikker på at du vil slette denne båd?</h3>
<div>
    <hr />
    <h3>Bådoplysninger:</h3>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Boat.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Type)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Type)</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Length)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Length) meter</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Width)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Width) meter</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Dept)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Dept) meter</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Notes)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Notes)</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Person)</dt>
        <dd><a asp-page="../People/Details" asp-route-id="@Model.Boat.PersonNavigation.PersonId">@Html.DisplayFor(model => model.Boat.PersonNavigation.FullName)</a></dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Boat.BoatId" />

        <div class="submit">
            <input class="delete" type="submit" value="Slet båd" />
        </div>

        <a class="button" href='javascript:history.go(-1)'>Tilbage</a>
    </form>
</div>
