@page
@model HouHavn.Web.Pages.Boats.DetailsModel

@{
    ViewData["Title"] = "Detaljer for båd";
}

<h2>Detaljer for båd</h2>

<div>
    <hr />
    <h3>Bådoplysninger:</h3>
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Boat.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Type)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Type)</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Length)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Length) meter</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Width)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Width) meter</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Depth)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Depth) meter</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Notes)</dt>
        <dd>@Html.DisplayFor(model => model.Boat.Notes)</dd>

        <dt>@Html.DisplayNameFor(model => model.Boat.Person)</dt>
        <dd><a asp-page="../People/Details" asp-route-id="@Model.Boat.PersonNavigation.PersonId">@Html.DisplayFor(model => model.Boat.PersonNavigation.FullName)</a></dd>
    </dl>
</div>
<div>
    <a class="button" asp-page="./Edit" asp-route-id="@Model.Boat.BoatId">Redigér</a>
    <a class="button" href='javascript:history.go(-1)'>Tilbage</a>
    <a asp-page="./Delete" asp-route-id="@Model.Boat.BoatId" class="delete button">Slet</a>

    @*<a asp-page="./Index">Tilbage til listen</a>*@
</div>
