@page
@model HouHavn.Web.Pages.Boats.DetailsModel

@{
    ViewData["Title"] = "Detaljer for båd";
}

<h2>Detaljer for båd</h2>

<div>
    <hr />
    <h3>Bådoplysninger:</h3>
    <p>
        @Html.DisplayNameFor(model => model.Boat.Name): <a asp-page="../Lists/Boats/Details" asp-route-id="@Model.Boat.BoatId">@Html.DisplayFor(model => model.Boat.Name)</a>
    </p>

    <p>
        @Html.DisplayNameFor(model => model.Boat.Type): @Html.DisplayFor(model => model.Boat.Type)
    </p>

    <p>
        @Html.DisplayNameFor(model => model.Boat.Length): @Html.DisplayFor(model => model.Boat.Length) meter
    </p>

    <p>
        @Html.DisplayNameFor(model => model.Boat.Width): @Html.DisplayFor(model => model.Boat.Width) meter
    </p>

    <p>
        @Html.DisplayNameFor(model => model.Boat.Dept): @Html.DisplayFor(model => model.Boat.Dept) meter
    </p>

    <p>
        @Html.DisplayFor(model => model.Boat.Notes)
    </p>
    <p>
        <a asp-page="../People/Details" asp-route-id="@Model.Boat.PersonNavigation.PersonId">@Html.DisplayFor(model => model.Boat.PersonNavigation.FullName)</a>
    </p>
</div>
<div>
    <a class="button" asp-page="./Edit" asp-route-id="@Model.Boat.BoatId">Redigér</a>
    <a class="button" href='javascript:history.go(-1)'>Tilbage</a>
    <a asp-page="./Delete" asp-route-id="@Model.Boat.BoatId" class="delete button">Slet</a>

    @*<a asp-page="./Index">Tilbage til listen</a>*@
</div>
