@page
@model HouHavn.Web.Pages.Lists.Berths.DeleteModel

@{
    ViewData["Title"] = "Slet bådplads";
}

<h2>Slet bådplads</h2>

<h3>Er du sikker på at du vil slette denne bådplads?</h3>
<div>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Berth.Bridge)</dt>
        <dd>@Html.DisplayFor(model => model.Berth.Bridge)</dd>

        <dt>@Html.DisplayNameFor(model => model.Berth.BerthId)</dt>
        <dd>@Html.DisplayFor(model => model.Berth.BerthId)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Berth.BerthId" />

        <p class="error">@Model.ErrorMessagse</p>
        <div class="submit">
            <input type="submit" value="Slet bådplads" class="delete" />
        </div>
        <a class="button" href='javascript:history.go(-1)'>Tilbage</a>
    </form>
</div>