@page
@model HouHavn.Web.Pages.Lists.Berths.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste over bådpladser</h1>
<hr />
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Berth[0].BerthId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Berth[0].Bridge)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Berth) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BerthId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bridge)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.BerthId" class="delete">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
