@page
@model HouHavn.Web.Pages.Lists.People.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Slet kunde</h1>

<h3>Er du sikker på at du vil slette denne kunde?</h3>
<div>

    <hr />
    <dl >
        <dt >
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.PostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.PostalCode)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.City)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.City)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.Country)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.Country)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.Member)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.Member)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.BoatGuild)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.BoatGuild)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.DingyGuild)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.DingyGuild)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Person.Notes)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Person.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.PersonId" />

        <div class="submit">
            <input type="submit" value="Delete" class="delete" />
        </div>
        <a href='javascript:history.go(-1)'>Tilbage</a>
    </form>
</div>
