@page
@model HouHavn.Web.Pages.Lists.People.DeleteModel

@{
    ViewData["Title"] = "Slet kunde";
}

<h2>Slet kunde</h2>


<h3>Er du sikker på at du vil slette denne kunde?</h3>
<div>
    <hr />
    <div class="flex">
        <article>
            <h3>Stamoplysninger</h3>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.FullName)</dt>
                <dd>@Html.DisplayFor(model => model.Person.FullName)</dd>

                <dt>@Html.DisplayNameFor(model => model.Person.Address)</dt>
                <dd>@Html.DisplayFor(model => model.Person.Address)</dd>
                <dd>@Html.DisplayFor(model => model.Person.PostalCode) - @Html.DisplayFor(model => model.Person.City)</dd>
                <dd>@Html.DisplayFor(model => model.Person.Country)</dd>

                <dt>@Html.DisplayNameFor(model => model.Person.Email)</dt>
                <dd>@Html.DisplayFor(model => model.Person.Email)</dd>

                <dt>@Html.DisplayNameFor(model => model.Person.PhoneNumber)</dt>
                <dd>@Html.DisplayFor(model => model.Person.PhoneNumber)</dd>

                <dt>@Html.DisplayNameFor(model => model.Person.Notes)</dt>
                <dd>@Html.DisplayFor(model => model.Person.Notes)</dd>
            </dl>
        </article>
        <article>
            <h3>Tilhørsforhold</h3>
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Person.Member)</dt>
                <dd>@(@Model.Person.Member == 1 ? "Ja" : "Nej")</dd>


                <dt>@Html.DisplayNameFor(model => model.Person.BoatGuild)</dt>
                <dd>@(@Model.Person.BoatGuild == 1 ? "Ja" : "Nej")</dd>

                <dt>@Html.DisplayNameFor(model => model.Person.DingyGuild)</dt>
                <dd>@(@Model.Person.DingyGuild == 1 ? "Ja" : "Nej")</dd>
            </dl>
        </article>
        <article>
            <h3>Både</h3>
            <dl>

                <dd>
                    @foreach (var boat in Model.Person.Boats)
                    {
                        <a asp-page="../Boats/Details" asp-route-id="@boat.BoatId">@boat.Name</a><br />
                    }
                </dd>
            </dl>
        </article>
    </div>

    <p class="error">@Model.ErrorMsg</p>

    <form method="post">
        <input type="hidden" asp-for="Person.PersonId" />

        <div class="submit">
            <input type="submit" value="Slet kunde" class="delete" />
        </div>
        <a class="button" href='javascript:history.go(-1)'>Tilbage</a>
    </form>
</div>
