@page
@model HouHavn.Web.Pages.Lists.People.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste over kunder</h1>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Country)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Person[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Email)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Person[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].BoatGuild)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].DingyGuild)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Person) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                @if (item.Member == 1)
                {
                    <p>Ja</p>
                } else
                {
                    <p>Nej</p>
                }
            </td>
            <td>
                @if (item.BoatGuild == 1)
                {
                    <p>Ja</p>
                }
                else
                {
                    <p>Nej</p>
                }
            </td>
            <td>
                @if (item.DingyGuild == 1)
                {
                    <p>Ja</p>
                }else
                {
                    <p>Nej</p>
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.PersonId">Redigér</a> |
                <a asp-page="./Details" asp-route-id="@item.PersonId">Detaljer</a> |
                <a asp-page="./Delete" asp-route-id="@item.PersonId" class="delete">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>
